.navbar {
    border-bottom: 5px dashed #ccc;
}

.navbar-nav {
    margin-right: auto;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.jumbotron {
    background-color: #f8f9fa;
}

.jumbotron img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: Hoyo;
    src: url(images/zh-cn.ttf);
}

@font-face {
    font-family: oyo;
    src: url(lollipoptron-cufonfonts/Lollipoptron-7GPD.ttf);
}

.Best-Seller {
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.Jumbo-Text {
    margin-top: 10px;
}

.Jumbo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Jumbo img {
    width: 70%;
    margin-top: 50px;
}

.Jumb-Text {
    text-align: center;
    font-size: 50px;
    font-family: oyo;
    font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25px;
}

.card {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.64);
}

.footer {
    background-color: #162335;
    color: #cdd4d5;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.footer img {
    max-width: 30%;
    height: auto;
}

.border {
    margin-left: 50px;
    margin-top: -100px;
    margin-bottom: -100px;
    width: 90%;
}

.good {
    margin-left: 50px;
    margin-top: -100px;
    margin-bottom: -120px;
    width: 90%;
}

img.border {
    border: none !important;
}